.Projects {
    margin: 80px 0;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
    
}
.projectsheader{
  border-bottom: solid 2px var(--forth_color);
  padding: 10px;
}
.Projectcard{
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 30px;
     flex-wrap: wrap;
     margin-top: 50px;
}

@keyframes fadeIn {
     from {
       opacity: 0;
       transform: translateY(30px);
     }
     to {
       opacity: 1;
       transform: translateY(0);
     }
   }
   
   .card {
     animation: fadeIn 0.9s ease forwards;
     opacity: 0; /* Start with the card hidden */
   }
   
   .card:nth-child(1) {
     animation-delay: 0.2s;
   }
   
   .card:nth-child(2) {
     animation-delay: 0.3s;
   }
   
   .card:nth-child(3) {
     animation-delay: 0.4s;
   }

.card:nth-child(2){
     width: 300px;
     height: 200px;
     background: #02344b;
     position: relative;
     display: grid;
     place-content: center;
     border-radius: 10px;
     overflow: hidden;
     transition: all 0.5s ease-in-out;
     background: url('../Asset/project1.png') no-repeat center center/cover;
}
.card:nth-child(3){
     width: 300px;
     height: 200px;
     background: #02344b;
  
     position: relative;
     display: grid;
     place-content: center;
     border-radius: 10px;
     overflow: hidden;
     transition: all 0.5s ease-in-out;
     background: url('../Asset/onaway.png') no-repeat center center/cover;
}
.card{
     width: 300px;
     height: 200px;
     background: #02344b;
     position: relative;
     display: grid;
     place-content: center;
     border-radius: 10px;
     overflow: hidden;
     transition: all 0.5s ease-in-out;
     background: url('../Asset/secode.png') no-repeat center center/cover;
}

#logo-main,
#logo-second {
     height: 100%;
}

#logo-main {
     fill: #ee9c05;
}

#logo-second {
     padding-bottom: 10px;
     fill: none;
     stroke: #ec9d0a;
     stroke-width: 1px;
}

.border {
     position: absolute;
     inset: 0px;
     border: 2px solid #faa70c;
     backdrop-filter: blur(2px);
     opacity: 0;
     transform: rotate(10deg);
     transition: all 0.5s ease-in-out;
}

.bottom-text {
     position: absolute;
     left: 50%;
     bottom: 13px;
     transform: translateX(-50%);
     font-size: 6px;
     border-radius: 2px;
     padding: 2px;
     text-transform: uppercase;
     padding: 0px 5px 0px 8px;
     color: #141414;
     background: #000000;
     opacity: 0;
     letter-spacing: 7px;
     transition: all 0.5s ease-in-out;
}

.content {
     transition: all 0.5s ease-in-out;
}

.content .logo {
     height: 35px;
     position: relative;
     width: 33px;
     overflow: hidden;
     transition: all 1s ease-in-out;
}

.content .logo .logo1 {
     height: 33px;
     position: absolute;
     left: 0;
}

.content .logo .logo2 {
     height: 33px;
     position: absolute;
     left: 33px;
}

.content .logo .trail {
     position: absolute;
     right: 0;
     height: 100%;
     width: 100%;
     opacity: 0;
}

.content .logo-bottom-text {
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
     
     color: #fff;
     padding-left: 8px;
     font-size: 14px;
     font-weight: bolder;
     opacity: 0;
     transition: all 0.5s ease-in-out 0.5s;
}

.card:hover {
     border-radius: 0;
     transform: scale(1.1);
}

.card:hover .logo {
     width: 134px;
     animation: opacity 1s ease-in-out;
}

.card:hover .border {
     inset: 15px;
     opacity: 1;
     transform: rotate(0);
}

.card:hover .bottom-text {
     letter-spacing: 3px;
     opacity: 1;
     transform: translateX(-50%);
}

.card:hover .content .logo-bottom-text {
     opacity: 1;
     letter-spacing: 3.5px;
}

.card:hover .trail {
     animation: trail 1s ease-in-out;
}

@keyframes opacity {
     0% {
          border-right: 1px solid transparent;
     }

     10% {
          border-right: 1px solid #bd9f67;
     }

     80% {
          border-right: 1px solid #bd9f67;
     }

     100% {
          border-right: 1px solid transparent;
     }
}

@keyframes trail {
     0% {
          background: linear-gradient(90deg, rgba(189, 159, 103, 0) 90%, rgb(189, 159, 103) 100%);
          opacity: 0;
     }

     30% {
          background: linear-gradient(90deg, rgba(189, 159, 103, 0) 70%, rgb(189, 159, 103) 100%);
          opacity: 1;
     }

     70% {
          background: linear-gradient(90deg, rgba(189, 159, 103, 0) 70%, rgb(189, 159, 103) 100%);
          opacity: 1;
     }

     95% {
          background: linear-gradient(90deg, rgba(189, 159, 103, 0) 90%, rgb(189, 159, 103) 100%);
          opacity: 0;
     }
}